.main-layout{
    width: 90vw;
    margin: auto;
}

.flex{
    display: flex;
}

.flex.space-between{
    justify-content: space-between;
}

.flex.justify-center{
    justify-content: center;
}

.flex.align-center{
    align-items: center;
}

.flex.space-evenly{
    justify-content: space-evenly;
}

.edit-btn{
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 6px;
    height: 3.75rem;
}
.edit-btn:hover{
border: 1px solid black;
cursor: pointer;
}