.gallery-container{
    /* background-color: var(--secndclr); */
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px) ;
    /* grid-template-columns: 250px 250px 250px 250px ; */
    gap: 13px;
    justify-content: center;
    background-color: var(--bcgclr);
    /* width: 100vw; */
    padding: 25.5px;
}

.gallery-container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    align-self: center;
    /* justify-self: center;
    align-self: center; */
    /* width: 50px */
}
.gallery-container img:hover{
opacity: 0.5;
cursor:pointer;
}

/* .search-bar{
    height: 3.1875rem;
    background-color: white;
} */

/* .grid{
    display: grid;
    justify-content: center;
    gap: 1.3125rem;
   }
   img{
     height: 100%;
     width: 100%;
   } */