.main-header{
    height: 66px;
    /* height: 2.0625rem; */
    background-color: var(--mainclr);
    display: flex;
     /* align-items: center; */
    justify-content: space-between;
}
/* .header-bcg{
} */
.main-header .logo{
    align-self: center;
    /* height: 11px; */
}
.main-header .logo:hover{
 cursor: pointer;
}

.search-bar{
    height: 6rem;
    background-color: white;
}

.nav-bar>*:first-child{
    border-right: 1px solid black;
    padding-right: 4.5px;
}
.nav-bar>*:last-child{
    padding-left: 4.5px;
}
.nav-bar>*{
    color: white;
}
.nav-bar>*:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

