.main-header{
    height: 2.0625rem;
    background-color: var(--mainclr);
    display: flex;
     /* align-items: center; */
    justify-content: space-between;
}
/* .header-bcg{
} */
.main-header .logo{
    align-self: center;
}
.main-header .logo:hover{
 cursor: pointer;
 color: rgba(red, 00, 00, 0.5);
}

